<div class="container">
    <h1>게시글을 수정하세요</h1>
    <form action='/update_real/<%= @one_post.id %>' method='POST'>
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input name='title' type="text" class="form-control" value="<%= @one_post.db_title %>" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleTextarea">내용</label>
        <textarea name='content' class="form-control" id="exampleTextarea" rows="3"><%= @one_post.db_content %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>